.navigation-list {
  ul {
    display: flex;
  }

  li {
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }

    a {
      &.active {
        font-weight: 700;
        color: #f78434;
      }

      &:hover {
        color: #f78434;
      }
    }
  }
}